.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 450px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.form {
    width: 350px;
}

.form-header {
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    width: 100%;
}

.link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: inherit;
}

