{% extends 'base_admin.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
    <h1 class="page-title">Welcome Admin!</h1>

    {% include 'admin/_admin-menu.html.twig' %}

{% endblock %}
