{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/adminSection.css') }}">
{% endblock %}

{% block body %}
    <h1 class="page-title">Welcome Admin!</h1>

    <div class="admin-panel">
        <a href="{{ path('add_question') }}">Add Question</a>
        <a href="{{ path('question_list') }}">Question List</a>
    </div>

{% endblock %}
